<html>
  <head>
    <title>WebRTC Demo</title>
    <link rel="stylesheet" href="bootstrap.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <script src="sip.js"></script>
    <script src="app.js"></script>
  </body>
</html>
